################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
/.vs/capstone-project-pantryplatoon/v17/DocumentLayout.json
PantryPlatoonMVCMain/appsettings.json
